// SECTION B: ABOUT ME
section#about-me.section-b.col-md-12.waypoint
	.container
		.row
			.col-md-4.top-buffer(data-aos='zoom-in')
				.person-info
					h3.text-center.about-subtitle Personal Information
					h5
						span.highlight Name:
						|  Yamen Sharaf
					h5
						span Age:
						|  27 Years
					h5
						span Phone:
						|  +20-1111-046486
					h5
						span Email:
						|  yamensharaf@gmail.com
					h5
						span Address:
						|  Cairo, Egypt
				a.btn.btn-block.btn-secondary(href='files/Resume.pdf')
					i.mdi.mdi-file-document
					span(style='margin-left: 6px') Download  Résumé
			.col-md-4.top-buffer
				.person-img.mask.waves-effect.waves-light.img-responsive.color-overlay.wow.fadeIn(data-aos='fade-up')
					img.z-depth-1.img-responsive(src='img/yamen.jpg', alt="Yamen's picture")
			.col-md-4.top-buffer.bottom-buffer
				.person-about(data-aos='zoom-in')
					h3.about-subtitle.text-center My Story
					p.subtext
						| A communication engineer gone wild. A coder in the making. A dreamer when all else fails.
					p
						| Once a geek, always a geek. Ever since I was 12 I've been fond of everything technology. I've witnessed the web at its worse and vowed to make it better, well not really, but the thought crossed my mind.
					button.btn.btn-block.btn-secondary(type='button', data-toggle='modal', data-target='#myModal')
						i.mdi.mdi-briefcase-check
						span(style='margin-left: 6px') Hire Me