section#blog.section-e.col-md-12.waypoint
	.container
		#blogPosts.row
			#blogHeader.top-buffer.text-center.skill-header.col-md-12
				h2  Latest Blog Posts 
		.row.visit-blog.top-buffer
			//Include blog posts
			include ./../partials/blogPosts
			.col-md-3
			.col-md-6.bottom-buffer(data-aos='fade-up')
				a.btn.btn-block.btn-secondary(href='/blog')
					i.mdi.mdi-wordpress
					|  Visit 
					strong  my blog 
					|  and read more
			.col-md-3