// FOOTER
section.footer.col-md-12
	.row
		.col-md-6.about-social.top-buffer.bottom-buffer
			ul.text-center
				li
					a(href='https://www.facebook.com/YamenSharaf')
						i.mdi.mdi-facebook
				li
					a(href='https://twitter.com/YamenSharaf')
						i.mdi.mdi-twitter
				li
					a(href='https://www.linkedin.com/in/yamensharaf/')
						i.mdi.mdi-linkedin
				li
					a(href='https://github.com/YamenSharaf')
						i.mdi.mdi-github-circle
				li
					a(href='tel:+20-111-104-6486')
						i.mdi.mdi-phone
				li
					a(href="https://api.whatsapp.com/send?phone=201111046486&text=Hi%20I'm%20coming%20from%20the%20web")
						i.mdi.mdi-whatsapp
				li
					a(href='https://m.me/YamenSharaf')
						i.mdi.mdi-facebook-messenger
		.col-md-2
		.col-md-3.top-buffer.bottom-buffer
			p
				| © 2017 Copyright: 
				a(href='https://yamensharaf.tk')  yamensharaf.tk 