section#gists.waypoint.section-f.col-md-12
	.container
		.row.bottom-buffer
			.top-buffer.text-center.skill-header.col-md-12
				h2  My Featured Gists 
			.my-gist.col-md-6.top-buffer(data-aos='fade-up')
				p.codepen(data-height='353', data-theme-id='dark', data-slug-hash='rmJNqO', data-default-tab='css', data-user='ysharaf', data-embed-version='2', data-pen-title='rmJNqO')
					| See the Pen 
					a(href='https://codepen.io/ysharaf/pen/rmJNqO/') rmJNqO
					|  by Yamen Sharaf (
					a(href='http://codepen.io/ysharaf') @ysharaf
					| ) on 
					a(href='http://codepen.io') CodePen
					| .
			.my-gist.col-md-6.top-buffer(data-aos='fade-up')
				p.codepen(data-height='353', data-theme-id='dark', data-slug-hash='VbQYYQ', data-default-tab='js', data-user='ysharaf', data-embed-version='2', data-pen-title='Spinner Show/Hide Template')
					| See the Pen 
					a(href='https://codepen.io/ysharaf/pen/VbQYYQ/') Spinner Show/Hide Template
					|  by Yamen Sharaf (
					a(href='http://codepen.io/ysharaf') @ysharaf
					| ) on 
					a(href='http://codepen.io') CodePen
					| .
				script(async='', src='https://production-assets.codepen.io/assets/embed/ei.js')
			.my-gist.col-md-12.top-buffer.bottom-buffer(data-aos='fade-up')
				p.codepen(data-height='353', data-theme-id='dark', data-slug-hash='xdjxwB', data-default-tab='js,result', data-user='ysharaf', data-embed-version='2', data-pen-title='Map and Filter with React props')
					| See the Pen 
					a(href='http://codepen.io/ysharaf/pen/xdjxwB/') Map and Filter with React props
					|  by Yamen Sharaf (
					a(href='http://codepen.io/ysharaf') @ysharaf
					| ) on 
					a(href='http://codepen.io') CodePen
					| .