// META STUFF
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='Web design made slick')
// Android status bar color
meta(name='theme-color', content='#DB649C')
title Yamen Sharaf Productions
link(rel='shortcut icon', href='img/favicon-32x32.png')
// favicon
// IMPORT FONTS
link(href='//fonts.googleapis.com/css?family=Oswald|Raleway', rel='stylesheet')
// IMPORT SASS
link(rel='stylesheet', href='css/app.css')
link(rel='stylesheet', href='//cdn.materialdesignicons.com/1.8.36/css/materialdesignicons.min.css')
link(rel='stylesheet', href='//cdn.rawgit.com/konpa/devicon/4f6a4b08efdad6bb29f9cc801f5c07e263b39907/devicon.min.css')
// IMPORT PLUGINS
link(href='//cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css', rel='stylesheet')
link(rel='stylesheet', href='dist/skill-bar/css/style.css')
link(rel='stylesheet', href='dist/glyph-snip/css/snip.css')
