section#letterhead.container.showcase.col-md-12.waypoint
	nav.navbar.navbar-toggleable-sm.navbar-dark
		.container
			button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav1', aria-controls='navbarNav1', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			// NAV ITEMS
			#navbarNav1.collapse.navbar-collapse
				ul.navbar-nav.nav-justified.mr-auto
					li.nav-item
						a.nav-link(data-scroll='', href='#about-me')
							span.sliding-middle-out About
					li.nav-item
						a.nav-link(data-scroll='', href='#skills')
							span.sliding-middle-out Skills
					li.nav-item
						a.nav-link(data-scroll='', href='#portfolio')
							span.sliding-middle-out Portfolio
					li.nav-item
						a.nav-link(href='#blog')
							span.sliding-middle-out Blog
	.row
		.container-fluid.bottom-buffer.col-md-12
			.row
				.span6(style='float: none; margin: 0 auto;')
					img.img-fluid(src='img/logo-ani.gif', alt='Logo - Animated')
			.container.text-center.col-md-6(class='#canvas-overlay')
				h2
					span Hi!
					|  My name is 
					span Yamen
					|  and I specialize in crafting modern, crisp and clean websites
// END SECTION A