section#portfolio.section-d.col-md-12.waypoint
	.container
		.row.bottom-buffer
			#portfolioHeader.top-buffer.text-center.skill-header.col-md-12
				h2  Portfolio 
			#portfolioDiv.row.bottom-buffer
				//Include portfolio items
				include ./../partials/portfolioItems
				.top-buffer.skill-header.col-md-12
					.card.z-depth-2(data-aos='fade-up')
						.card-block
							.row
								p.col-md-8(style='margin-top: 10px')
									| If you're associated with a charitable organization or any non-profit I'll build you a website for free. If you're not you can contact me to talk business or just say hi.
								.col-md-1
								button.col-md-2.btn.btn-secondary(type='button', data-toggle='modal', data-target='#myModal')
									i.mdi.mdi-contact-mail
									| Contact Me
// END SECTION D