// SECTION C: SKILLLS
section#skills.waypoint.section-c.col-md-12
	.container
		.row
			.col-md-6.skill-bars
				.wraper
					.skillst6
						.text-center.skill-header
							h2 { Design Skills 	}
						.skillbar(data-percent='95%')
							.count-bar.color-3
								.title
									span.devicon-html5-plain
									span.devfont  HTML 5
								.count
						.skillbar(data-percent='85%')
							.count-bar.color-3
								.title
									span.devicon-css3-plain
										span.devfont  CSS 3
								.count
						.skillbar(data-percent='90%')
							.count-bar.color-3
								.title
									span.devicon-bootstrap-plain
										span.devfont  Bootstrap 4
								.count
						.skillbar(data-percent='95%')
							.count-bar.color-3
								.title
									span.devicon-sass-original
										span.devfont  SASS 3
								.count
						.skillbar(data-percent='85%')
							.count-bar.color-3
								.title
									span.devicon-jquery-plain
										span.devfont  jQuery
								.count
			.col-md-6.skill-bars.bottom-buffer
				.wraper
					.skillst6
						.text-center.skill-header
							h2 [ Coding Skills ]
						.skillbar(data-percent='85%')
							.count-bar.color-2
								.title
									span.devicon-javascript-plain
										span.devfont JavaScript
								.count
						.skillbar(data-percent='70%')
							.count-bar.color-2
								.title
									span.devicon-react-original
										span.devfont React JS
								.count
						.skillbar(data-percent='60%')
							.count-bar.color-2
								.title
									span.devicon-nodejs-plain
										span.devfont  Node JS 	& Express JS
								.count
						.skillbar(data-percent='60%')
							.count-bar.color-2
								.title
									span.devicon-php-plain
										span.devfont  PHP 7
								.count
						.skillbar(data-percent='70%')
							.count-bar.color-2
								.title
									span.devicon-wordpress-plain
										span.devfont  WordPress 4
								.count
		.row.bottom-buffer
			.text-center.skill-header.col-md-12
				h2  <Workflow Tools>
			.container.dev-tools
				.row.text-center
					.col-sm-6.col-md-4.col-lg-4.tool.top-buffer
						i.devicon-git-plain
						i.devicon-atom-original
						i.devicon-gulp-plain
						i.devicon-bower-line
					.col-sm-6.col-md-4.col-lg-4.tool.top-buffer
						i.devicon-mysql-plain
						i.devicon-mongodb-plain
						i.devicon-photoshop-line
						i.devicon-illustrator-line
					.col-sm-6.col-md-4.col-lg-4.tool.top-buffer
						i.devicon-github-plain
						i.devicon-heroku-original
						i.devicon-mocha-plain
						i.devicon-babel-plain
