section#tech.waypoint.section-g.col-md-12
	.container
		.row.bottom-buffer
			.top-buffer.text-center.skill-header.col-md-12
				h2  Technology behind this website 
		.tech-row.row.bottom-buffer
			.tech-logo.top-buffer.col-xs-6.col-sm-4.col-md-2
				img(src='img/tech/node.png', alt='Node.js')
			.tech-logo.top-buffer.col-xs-6.col-sm-4.col-md-2
				img(src='img/tech/bootstrap.png', alt='Bootstrap')
			.tech-logo.top-buffer.col-xs-6.col-sm-4.col-md-2
				img(src='img/tech/sass.png', alt='Sass')
			.tech-logo.top-buffer.col-xs-6.col-sm-4.col-md-2
				img(src='img/tech/pug.png', alt='Pug')
			.tech-logo.top-buffer.col-xs-6.col-sm-4.col-md-2
				img(src='img/tech/json.png', alt='JSON')
			.tech-logo.top-buffer.col-xs-6.col-sm-4.col-md-2
				img(src='img/tech/express.png', alt='Express.js')