doctype html
html(lang='en')
	//HEAD
	head
		include ./partials/head
	//BODY
	body
		// SECTION A: LETTERHEAD
		include ./partials/letterhead
		// SECTION B: ABOUT ME
		include ./partials/about
		// SECTION C: SKILLLS
		include ./partials/skills
		// SECTION D: PORTFOLIO
		include ./partials/portfolio
		// SECTION E: Blog
		include ./partials/blog
		// SECTION F: Gists
		include ./partials/gists
		// SECTION G: TECH
		include ./partials/tech
		// FOOTER
		include ./partials/footer
		// CONTACT MODAL
		include ./partials/modal
		// Scripts Import
		include ./partials/scripts